@import "~bootstrap/scss/bootstrap";


$text-color: #000;
$sidebar-width: 280px;
$topbar-height: 60px;
$sidebar-color: whitesmoke;
$topbar-color: var(--secondary);
$default-margin: 20px;
$default-padding: 20px;
$default-transition: all 0.3s;


.full-height {
    height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content {
    text-align: center;
}

a {
    color: #42b983;
    padding: 0 25px;
    font-weight: 1000;
    text-decoration: none;
}

.uppercase {
    letter-spacing: .1rem;
    text-transform: uppercase;
}

// App specific design


#sidebar {
    background-color: $sidebar-color;
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    margin: 0px;
    padding-top: $topbar-height + $default-padding;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    overflow-y: auto;
    z-index: 998;
    transition: $default-transition;

    a {
        color: var(--teal);
        cursor: pointer;
        display: block;
        padding: $default-padding 0px;
        text-align: center;
        text-decoration: none;

        &:hover, &.active, &.router-link-exact-active {
            background-color: #fff;
        }
    }

    &.toggle-active {
        margin-left: -$sidebar-width;
    }
}

#topbar {
    background-color: $topbar-color;
    min-width: 100vw;
    max-width: 100vw;
    min-height: $topbar-height;
    max-height: $topbar-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: $default-padding;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    box-shadow: 0px 1px 6px lighten($text-color, 20%);
    transition: $default-transition;

    a, a:hover {
        color: #fff;
        text-decoration: none;
        font-weight: 900;
        padding-left: 5px;
    }

    .left {
        cursor: pointer;
        margin-left: $default-margin;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


#main {
    margin-top: $topbar-height;
    padding-top: $default-padding;
    margin-left: $sidebar-width;
    padding-left: $default-padding;
    transition: $default-transition;

    &.toggle-full-width {
        margin-left: 0px;
    }
}

@media(max-width: 768px) {
    // For mobile device
    #sidebar {
        margin-left: -$sidebar-width;
        &.toggle-active {
            margin-left: 0px;
        }
    }

    #main {
        margin-left: 0px;
        &.toggle-full-width {
            margin-left: $sidebar-width;
        }
    }
}
.social-auth {
    padding-top: $default-padding;
}

.card {
    margin: 10px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 1px grey;
}
