@import "~bootstrap/scss/bootstrap";
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "./variables";
@import "./topbar";
@import "./sidebar";
@import "./main";
@import "./classes";

// Global design
html, body {
    background-color: lighten($light-secondary-color, 60%);
    font-family: 'Roboto-Light';
}

h1, h2, h3 {
    font-family: 'Roboto-Thin';
}
