.full-height {
    height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content {
    text-align: center;
}

.uppercase {
    letter-spacing: .05rem;
    text-transform: uppercase;
}

.social-auth {
    padding-top: $default-padding;
}

.card {
    margin: 10px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 1px 1px 5px 1px grey;
}

.invisible-link {
    color: $primary-text-color !important;
    font-weight: inherit !important;
    text-decoration: none !important;
}
