$primary-color: #62a8ea;
$light-primary-color: #98d9ff;
$dark-primary-color: #2379b7;
$primary-text-color: #000000;

$secondary-color: #263238;
$light-secondary-color: #4f5b62;
$dark-secondary-color: #000a12;
$secondary-text-color: #ffffff;

$tertiary-color: #d32f2f;
$light-tertiary-color: #ff6659;
$dark-tertiary-color: #9a0007;
$tertiary-text-color: #ffffff;


$sidebar-width: 280px;
$topbar-height: 60px;
$default-margin: 20px;
$default-padding: 20px;
$default-transition: all 0.3s;
